.idea/*
!.idea/.name
!.idea/inspectionProfiles/Project_Default.xml
!.idea/misc.xml
!.idea/vcs.xml
node_modules/
www/css/
www/fonts/
www/docs/
www/*.html
www/js/
temp/
log/
release/build/
release/target/
