@import '../../node_modules/bootstrap/scss/functions';

$color-black: #000;
$color-white: #fff;

$color-dark-grey: #3f3f3f;

$primary: #326b9d;


$pixelratio-1x: 96dpi;
$pixelratio-2x: 192dpi;

$breadcrumb-divider: quote('>');

$header-height: 0;
$header-height-md: 0;

@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/variables-dark';
