.color-brand-primary {
  background-color: $primary;
}

.color-brand-secondary {
  background-color: $secondary;
}

.color-black {
  background-color: $black;
}

.color-system-success {
  background-color: $success;
}

.color-system-warning {
  background-color: $warning;
}

.color-system-info {
  background-color: $info;
}

.color-system-danger {
  background-color: $danger;
}

.color-table-success {
  background-color: #ceeed0 !important;
  color: #285f17;
}

.color-table-warning {
  background-color: #fdeca6 !important;
  color: #935a1d;
}

.color-table-danger {
  background-color: #f6c9ce !important;
  color: #8f1b15;
}
