name: Build
on:
  push:
    branches:
      - "*"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build Image
        run: docker-compose up -d

      - name: Clean & Build
        run: docker-compose run frontend make -C release/ clean package

      - name: Release
        run: make -C release/ release AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
        env:
          AWS_EC2_METADATA_DISABLED: "true" # https://github.com/actions/runner/issues/503

      - name: Deploy
        run: |
          curl \
          -X POST \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token ${{ secrets.PAT_TOKEN }}" \
          --data '{"ref": "refs/heads/master"}' \
          https://api.github.com/repos/biohazard-hackathon/infrastructure/actions/workflows/frontend.yml/dispatches
